.idea/
SharedEditorServer/.idea/
SharedEditorServer/cmake-build-debug/
Client/.idea/
Client/.idea/workspace.xml
Client/cmake-build-debug/Client_autogen
Client/cmake-build-debug/CMakeFiles
Client/cmake-build-debug/icons/